<h1>Welcome <%= current_user.username %></h1>

<%= link_to  "Create a new event", new_event_path %>

<div class="events">
  <div class="events-created">
  <h3>
    MY CREATED EVENTS
  </h3>
    <%= user_created_events %>
  </div>
    <div class="events-created">
  <h3>
    MY CREATED EVENTS
  </h3>
    <%= user_created_events %>
  </div>
</div>