<h1>Welcome to the jungle <%= current_user.username %></h1>

<%= link_to 'Logout', users_sign_out_path %>
 <%#= link_to  "Create a new event", new_event_path %>

<div>
  <%#= user_created_events %>
</div>
