// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.events {
  display: flex;
  justify-content: space-around;
}

.events-created {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.event-card {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  margin: 1.5rem;
  background-color: #673ab7;
  color: white;
  // border radius
  border-radius: 58px 58px 58px 58px;
  -moz-border-radius: 58px 58px 58px 58px;
  -webkit-border-radius: 58px 58px 58px 58px;
  border: 0px solid #000000;
  // shadow
  -webkit-box-shadow: -55px 29px 32px 1px rgba(133, 177, 230, 1);
  -moz-box-shadow: -55px 29px 32px 1px rgba(133, 177, 230, 1);
  box-shadow: -55px 29px 32px 1px rgba(133, 177, 230, 1);
  a {
    color: white;
  }
}

.flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.jc-around {
  justify-content: space-around;
}

.jc-between {
  justify-content: space-between;
}

.jc-start {
  justify-self: start;
}

.flex-column {
  flex-direction: column;
}
